/* Background styles */
body {
  background-image: url('https://cdn.wallpapersafari.com/41/16/IOmeDP.jpg');
  background-position: center;
}

/* Glassmorphism card effect 
.card {
  backdrop-filter: blur(9px) saturate(180%);
  -webkit-backdrop-filter: blur(9px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}*/

.navbar{
  font-size: 20px;
  color: #fff;
  display: flex;
  padding: 0.8rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);

}

.navbar span{
  display: flex;
  margin: 0px 10px;
}

.nav-item{
  color: #FFF;

}

.nav-item:hover {
  color: #61faff;
  background: antiquewhite;
  border-radius: 5px ;
  padding: 5px;

}

